

body {
  padding-top:60px;
}

.pointable {
  cursor: pointer;
}


.ng-dirty .ng-valid {
	border: 2px solid #0f0;
}

.ng-dirty .ng-invalid {
	border: 2px solid #f00;
}

.form-control{
	border-radius: 0;
}

.glyphicon {
    position: relative;
    top: 7px!important;
}